        
</div> 
 
<!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-light">
      <div class="row">
        <div class="col text-center">
          <img src="../images/logo_br_cropped.png" alt="Logo" style="width:75px;">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <small>© 2021 Copyright BlueRoof Hotels and Inns</small>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
            <div class="template-demo"> 
                <button type="button" class="btn btn-social-icon btn-outline-facebook"><a target="_blank" href="http://facebook.com"><i class="fa fa-facebook"></i></a></button>
                <button type="button" class="btn btn-social-icon btn-outline-youtube"><a target="_blank" href="http://youtube.com"><i class="fa fa-youtube"></i></a></button> 
                <button type="button" class="btn btn-social-icon btn-outline-twitter"><a target="_blank" href="http://twitter.com"><i class="fa fa-twitter"></i></a></button>  
                <button type="button" class="btn btn-social-icon btn-outline-linkedin"><a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></button> 
                <button type="button" class="btn btn-social-icon btn-outline-instagram"><a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></button> 
            </div>
          </div>
      </div>
      
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
</body>
</html>