<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin="anonymous"></script>
    <!-- <title><%= title %></title> -->
    
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    
</head>

<body>
  
    <!-- Header -->
  
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    
  <a class="navbar-brand" href="/"><img src="../images/logo_br_cropped.png" alt="Logo" style="width:120px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" 
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarToggler1">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/makereservation">Book</a>
      </li>   
      <li class="nav-item active">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li> 
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <i class="fas fa-phone"></i>&nbsp;258-376-6346
    </form>
  </div>
  
</nav>
</div>
<!--Page Content-->

<div class="container">

                           
         
    
    
            
        