<%- include('_header') %>

    <form id="formAdmin" class="needs-validation lightbluebg" novalidate name="adminlogin" method="post" action="/adminlogin">
        <div class="form-row">
            <div class="col-md-6 mb-3 text-right">
                <br/>
                <label for="validationCustom01">Please enter the administrator password</label>
            </div>
            <div class="col-md-6 mb-3">
                <br/>
                <input style="width:250px" type="password" class="form-control" id="validationCustom01" placeholder="Password" value="" name="password" required>
                <div class="invalid-feedback">
                    Please provide password
                </div>
            </div>
        </div>
        <br/>
        <div class="form-row text-center">
            <div class="col mb-3">
                <button id="btnSubmit" class="btn btn-primary btn-info" type="submit" style="width:300px;">SUBMIT</button>
            </div>
        </div>
    </form>
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

<%- include('_footer') %>