<%- include('_header') %>

<hr/>
<h2>Congratulations! Your booking has been done!</h2>
<br/>
<h5>Please take a note of the Reference number for your booking. This will be used in all further communication.</h5>
<br/>
<div>    
    <strong>Your confirmation number is :</strong>   60937a0bbeda1808a0ec76c7  
</div>
<hr/>
<%- include('_footer') %>