<%- include('_header') %>

    <form id="feedback" class="needs-validation lightbluebg" novalidate name="feedback" method="post" action="/feedback">
      <div class="form-row">        
        <div class="col-md-6 mb-3">
          <label for="validationCustomUsername">Please provide your email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <input type="text" class="form-control" id="validationCustomUsername" placeholder="Email" aria-describedby="inputGroupPrepend" 
            name="email" required>
            <div class="invalid-feedback">
              Please provide your email address.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Please provide your feedback</label>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <textarea name="feedback" cols="70" rows="5"></textarea>
          <!-- <input type="text" rows="5" class="form-control" id="validationCustom03" placeholder="Feedback" name="feedback" required> -->
          <div class="invalid-feedback">
            Please provide a value.
          </div>
        </div>        
      </div> 
      <div class="form-row">
        <div class="col-md-8 mb-3">          
        </div>
        <div class="col-md-4 mb-3 text-right">
          <button id="btnSubmit" class="btn btn-primary btn-info" type="submit" style="width:200px;">SUBMIT FEEDBACK</button>
        </div>
      </div>
    </form>
    <br/>
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

<%- include('_footer') %>