<%- include('_header') %>

<div>            
  <div class="img-title">
      
      <div class="row">        
          <div col class="col-lg-8 col-xl-8 col-md-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1500">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 homeCar" src="../images/carousel1_edited.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 homeCar" src="../images/carousel2_edited.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 homeCar" src="../images/carousel3_edited.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 homeCar" src="../images/carousel4_edited.jpg" alt="Third slide">
                </div>
              </div>
            </div>
          </div>
          <div col class="col-lg-4 col-xl-4 col-md-12">
            <p><h2>Give yourself the freedom of flexibility!</h2></p>
            
            <br/>
              <p class="blockquote text-justify">With Blue Roof BluClean™, we promise to provide you a clean & safe stay. 
                We are committed to enhanced cleaning and providing guests with the confidence they deserve as 
                they once again begin to road trip throughout the country. Look for the BluClean icon at participating properties.

              </p>    
          </div>  
      </div>
  </div>
</div>  
<hr/>        
<div class="row">
  <div class="col-md-12 col-lg-4 col-xl-4">
      <h2>BlueRoof Rewards</h2>
      <p class="text-justify">BlueRoof Rewards members, give yourself the freedom of flexibility with savings up to 25% at participating hotels! 
      </p>
      <p><a href="/rewards" class="btn btn-info white">Learn More</a></p>
  </div>
  <div class="col-md-12 col-lg-4 col-xl-4">
      <h2>Stay longer, Earn More!</h2>
      <p class="text-justify">Register, Stay and Earn 1,000 Bonus Points on Weekly Rates at HomeTowne Studios By Blue Roof.</p>
      <p><a href="/staylonger" class="btn btn-info">Learn More</a></p>
  </div>
  <div class="col-md-12 col-lg-4 col-xl-4">
      <h2>Travel Update</h2>
      <p class="text-justify">Covid-19 Travel Notice, Flexible Cancellation & BluClean™ enhanced cleaning - look for icons at participating hotels.</p>
      <p><a href="/travelupdate"  class="btn btn-info">Learn More</a></p>
  </div>

<%- include('_footer') %>
    