<%- include('_header') %>
<br/>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-1">
            <i class="fas fa-exclamation-triangle fa-3x tealtext"></i>
        </div>  
        <div class="col-11">
            <h1>An unexpected error has occurred</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            There has been some error in the website. If the problem persists, please contact the <a href="mailto:blueroofadmin@jacksonhotelgroup.com">administrator</a>.
        </div>
    </div>
</div>
<hr/>



<%- include('_footer') %>