<%- include('_header') %>

<div class="container lightbluebg">
    <div class="row">
        <div class="col text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6078095.356616444!2d-83.26636957431212!3d41.939719129796075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d61b49dbad074d%3A0x5949248ac4d82e28!2sThe%20Blue%20Roof%20Cottage!5e0!3m2!1sen!2sus!4v1621029840557!5m2!1sen!2sus" 
            width="1000" height="650" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
        </div>
    </div>

<%- include('_footer') %>